<section class="menu">
    <div onclick="addTask()">&#43;</div>
    <label>Filter Status</label>
    <select>
        <option value="NULL" default>All</option>
        <option value="complete">Complete</option>
        <option value="inprogress">In Progress</option>
        <option value="notstarted">Not Started</option>
    </select>
</section>