<section class="menu">
    <div onclick="creatTask()">&#43;</div>
    <label>Filter Status</label>
    <option>
        <option value="NULL" default>All</option>
        <option value="complete">Complete</option>
        <option value="inprogress">In Progress</option>
        <option value="notstarted">Not Started</option>
    </option>
</section>