<section id="addModal" class="modal">
    <form>
        <fieldset>
        <legend>Add Task</legend>
            <label for="taskTitle">Title</label>
            <input id="taskTitle" type="text" maxlength="100">
            <label for="taskStatus">Status</label>
            <select id=taskStatus>
                <option value="complete">Complete</option>
                <option value="inprogress">In Progress</option>
                <option value="notstarted" selected>Not Started</option>
            </select>
            <div class="control-add-buttons">
                <button onclick="addModalClose('addModal')">Cancel</button>
                <button onclick="createTask()">Add Task</button>
            </div>
        </fieldset>
    </form>
</section>
