<section id="editModel" class="modal">
    <form>
        <fieldset>
        <legend>Edit Task</legend>
            <label for="edittaskTitle">Title</label>
            <input id="edittaskTitle" type="text" maxlength="100">
            <label for="edittaskStatus">Status</label>
            <select id=edittaskStatus>
                <option value="complete">Complete</option>
                <option value="inprogress">In Progress</option>
                <option value="notstarted" selected>Not Started</option>
            </select>
            <div class="control-add-buttons">
                <button onclick="closeModal('editModal')">Cancel</button>
                <button id="editdonebutton" onclick="editTask(this)" data=0>Done</button>
            </div>
        </fieldset>
    </form>
</section>
