<section class="todo-list-item" id="1001">
    <div class="circle status-notstarted" onclick="statusToggle(this)"></div>
    <p class="todo-list-item-title">Here was have task 1</p>
    <div class="control-buttons">
        <input type="button" value="edit" onclick="editTask(this)">
        <input type="button" value="delete" onclick="deleteTask(this)">
    </div>
</section>