<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stutz-todo List</title>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <main>
      <% include ../partials/todolist_header.ejs %>

        <% include ../partials/add_filter-options.ejs %>

<% var status = ["complete", 'inprogress', 'notstarted'] %>

<% for(var i = 0; i < data.length; ++i) {%>

    <section class="todo-list-item" id=<%=data[i].itemid%> >
           <div class="circle status-<%=status[data[i].status-1] %>" onclick="statusToggle(this)"></div>
           <p class="todo-list-item-title"><%= data[i].title %></p>
           <div class="control-buttons">
               <input type="button" value="edit" onclick="editTask(this)">
               <input type="button" value="delete" onclick="deleteTask(this)">
           </div>
       </section>
   <% } %>


 <% include ../partials/todolist_footer.ejs %>
</main>
</body>
</html>