body {
  background-color: lightgray;
}

.todo-list-ends {
  background-color: lightgoldenrodyellow;
  border-radius: 15px;
  border: 1px solid lightgoldenrodyellow;
  text-align: center;
  min-height: 67px;
}

.todo-list-item {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 3vw;
  padding-left: 3vw;
}
.todo-list-item-title {
  padding-left: 15px;
  flex-grow: 1;
}

.control-buttons {
  min-width: 94px;
  padding-left: 5px;
}

.todo-list{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.todo-list_padding {
  padding: 10px 30px;
}

.circle {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.status-complete {
  background-color: mediumseagreen;
}

.status-inprogress {
  background-color: yellow;
}

.status-notstarted {
  background-color: red;
}

.menu {
  display: flex;
  padding: 20px 3vw;
}

.menu div{
  background-color: lightgoldenrodyellow;
  min-width: 20px;
  min-height: 22px;
  font-size: 20px;
  padding-left: 7px;
  margin-right: 20px;
  border-radius: 5px;
}
.menu label {
  padding-right: 3px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.modal form {
  background-color: lightgray;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 10px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}