body {
  background-color: lightgray;
}

.circle {
  border-radius: 50%;
  border: 1px solid black;
  min-height: 20px;
  min-width: 20px;
}

.control-add-buttons {
  margin-bottom: 15px;
  padding-top: 7px;
  text-align: right;
}

.control-buttons {
  min-width: 94px;
  padding-left: 5px;
}

.menu {
  display: flex;
  padding: 20px 3vw;
}

.menu div {
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 20px;
  min-height: 22px;
  min-width: 20px;
  padding-left: 7px;
}

.menu label {
  padding-right: 3px;
}

.modal {
  display: none;
  height: 100%;
  left: 0;
  margin-left: 5vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal fieldset {
  border: 10px solid lightgoldenrodyellow;
  display: inline-grid;
  width: 90%;
}

.modal form {
  background-color: lightgray;
  margin: 10vh auto;
  padding: 20px;
  position: fixed;
  width: 80%;
}

.status-complete {
  background-color: mediumseagreen;
}

.status-inprogress {
  background-color: yellow;
}

.status-notstarted {
  background-color: red;
}

.todo-list {
  align-items: start;
  display: flex;
  flex-direction: column;
}

.todo-list-ends {
  background-color: lightgoldenrodyellow;
  border-radius: 15px;
  border: 1px solid lightgoldenrodyellow;
  min-height: 67px;
  text-align: center;
}

.todo-list-item {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 3vw;
  padding-bottom: 20px;
  padding-left: 3vw;
}

.todo-list-item-title {
  flex-grow: 1;
  padding-left: 15px;
}

.todo-list_padding {
  padding: 10px 30px;
}