body {
  background-color: lightgray;
}

.todo-list-ends {
  background-color: lightgoldenrodyellow;
  border-radius: 15px;
  border: 1px solid lightgoldenrodyellow;
  text-align: center;
}

.todo-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 3vw;
  width: 100%;
}
.todo-list-item-title {
  padding-left: 15px;
  flex-grow: 1;
}

.control-buttons {
  min-width: 94px;
  padding-left: 5px;
}

.todo-list{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.todo-list_padding {
  padding: 10px 30px;
}

.circle {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.status-complete {
  background-color: mediumseagreen;
}

.status-inprogress {
  background-color: yellow;
}

.status-notstarted {
  background-color: red;
}

.menu {
  display: flex;
}

.menu div{
  background-color: lightgoldenrodyellow;
  min-width: 20px;
  min-height: 22px;
  font-size: 20px;
  padding-left: 7px;
  margin-right: 20px;
  border-radius: 5px;
}
.menu label {
  padding-right: 3px;
}