<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stutz-todo List</title>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <main>
      <% include ../partials/todolist_header.ejs %>

        <% include ../partials/add_filter-options.ejs %>
      <section id="todolist_container">        
      </section>
      <% include ../partials/todolist_footer.ejs %>
    </main>
  </body>
</html>
