<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stutz-todo List</title>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <main>
      <section class="todo-list-ends">
        <h1>Todo List</h1>
      </section>
      <section>
        <% include ../partials/todolist_item.ejs %>
      </section>
      <section class="todo-list-ends">
        <p1>Information about the todo list will be here</p1>
      </section>
    </main>
  </body>
</html>
